<div class="cui__utils__heading">
    <strong>Export POS Sales</strong>
</div>

<div class="card">
    <br>
    <div class="row">
        <div class="col-xs-4 col-md-2">
            <div class="mb-6 px-3 py-4 ">
                <nz-month-picker style="width: 200px" [(ngModel)]="date"
                    (ngModelChange)="onChange($event)"></nz-month-picker>
            </div>
        </div>

        <div class="col-xs-4 col-md-2">
            <div class="mb-6 px-3 py-4 ">
                <nz-select style="width: 200px;" nzShowSearch nzAllowClear nzPlaceHolder="Select Company"
                    [(ngModel)]="selectedValue">
                    <nz-option *ngFor="let row of getcomstore" [nzLabel]="row.Name"
                        [nzValue]="row.CompanyId"></nz-option>
                </nz-select>
            </div>
        </div>

        <div class="col-xs-6 col-md-4" *ngIf="selectGST == '6521'">
            <div class="mb-6 px-3 py-4">
                <nz-select style="width: 200px;" nzShowSearch nzAllowClear nzPlaceHolder="Select GST No"
                    [(ngModel)]="selectedValue2">
                    <nz-option nzLabel="33APUPK5773P1ZW" nzValue="33APUPK5773P1ZW"></nz-option>
                    <nz-option nzLabel="33AODPM8622B1ZC" nzValue="33AODPM8622B1ZC"></nz-option>
                    <nz-option nzLabel="33CZXPM4328M1ZM" nzValue="33CZXPM4328M1ZM"></nz-option>
                    <nz-option nzLabel="33AMBPD3114B2Z5" nzValue="33AMBPD3114B2Z5"></nz-option>
                    <nz-option nzLabel="33AAECF5895R1ZS" nzValue="33AAECF5895R1ZS"></nz-option>
                    <nz-option nzLabel="33ETSPM1889J1ZV" nzValue="33ETSPM1889J1ZV"></nz-option>
                    <nz-option nzLabel="36BQSPM9610B1ZO" nzValue="36BQSPM9610B1ZO"></nz-option>
                    <nz-option nzLabel="29BKEPV9455R1ZS" nzValue="29BKEPV9455R1ZS"></nz-option>
                    <nz-option nzLabel="33IWIPS2183C1ZF" nzValue="33IWIPS2183C1ZF"></nz-option>
                </nz-select>
            </div>
        </div>

        <div class="col-xs-6 col-md-4">
            <div class="mb-6 px-3 py-4 ">
                <button class="btn btn-success" (click)="prdgrpdata_values()">
                    SUBMIT
                </button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button class="btn btn-info" [disabled]="!isUploadEnabled()" (click)="warninig()">
                    UPLOAD
                </button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button class="btn btn-danger" [disabled]="!isUploadEnabled()" (click)="exportToCSV()">
                    EXPORT
                </button>
            </div>
        </div>
    </div>
    <!-- <div class="selected-month">
        <p *ngIf="!dataLoaded">
            Data for {{ date | date: 'MMMM yyyy' }} completed
        </p>
    </div> -->

    <section class="hk-sec-wrapper">
        <div class="table-wrap" style="margin: 10px;">
            <div class="table-responsive" style="overflow: auto; height: 600px;">
                <table class="table mb-0 table-sm">

                    <thead class="fixed-head">
                        <tr>
                            <th scope="col" style="text-align: left;">Product Group</th>
                            <th style="text-align: left;" scope="col">Amount</th>
                            <!-- <th style="text-align: left;" scope="col">Tax</th> -->
                            <th scope="col" style="text-align: left;">CGst</th>
                            <th scope="col" style="text-align: left;">CGst Amount</th>
                            <th scope="col" style="text-align: left;">SGst </th>
                            <th scope="col" style="text-align: left;">SGst Amount</th>
                            <th scope="col" style="text-align: left;">Tax</th>
                            <th scope="col" style="text-align: left;">Tax Amount</th>
                            <th scope="col" style="text-align: left;">Total Amount</th>
                        </tr>
                    </thead>

                    <tbody>
                        <ng-container *ngIf="dataLoaded;">
                            <tr *ngFor="let row of prdgrpdata">
                                <td style="text-align: left;">{{row.Product}}</td>
                                <td style="text-align: left;">{{row.Amt}}</td>
                                <td style="text-align: left;">{{row.CGST}}</td>
                                <td style="text-align: left;">{{row.CGSTAmt}}</td>
                                <td style="text-align: left;">{{row.SGST}}</td>
                                <td style="text-align: left;">{{row.SGSTAmt}}</td>
                                <td style="text-align: left;">{{row.Tax}}</td>
                                <td style="text-align: left;">{{row.TaxAmount}}</td>
                                <td style="text-align: left;">{{row.TotalAmount}}</td>
                            </tr>
                        </ng-container>
                        <tr *ngIf="!dataLoaded">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="center-message">
                                <p style="text-align: center;">
                                    No Data!
                                    <br>
                                    "Already Uploaded..."
                                </p>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </section>
</div>
