


<div class="receipt-container" style="display: none; text-align: center;" #receiptContent>
    <pre class="receipt-content">
FB Cakes n Sweets <br>
Test, Test, Chennai,<br>
8056515500<br>
GSTIN:33AODPM8622B1ZC<br>
Receipt: 2220230728/3<br>
July 28, 2023 4:02 PM<br>
Customer: ROHITH J<br>
Customer Mobile: 7448961245<br>
Delivery Address: TEST<br>
-----------------------------------------------<br>
ITEM                   QTY          PRICE<br>
-----------------------------------------------<br>
Strawberry Donuts      1            119.00<br>
-----------------------------------------------<br>
Subtotal                            119.00<br>
CGST                                 10.71<br>
SGST                                 10.71<br>
Total                               140.00<br>
Paid                                140.00<br>
-----------------------------------------------<br>
Thank You. Visit Again.<br>
-----------------------------------------------<br>
Receipts by Biz1Book.com<br>
</pre>
</div>

<button (click)="printReceipt()">Print Receipt</button>